.prepare_room_container {
  max-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.prepare_room_text_container {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 686px;
  width: 100%;
  .welcome_logo {
    background-image: url(https://gartic.io/static/images/new/gartic.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 220px;
    height: 53px;
  }
  .prepare_room_user_info_container {
    position: relative;
    left: 5rem;
    display: flex;
    align-items: center;
    span {
      font-family: "Nunito";
      width: 160px;
      font-size: 18px;
      color: #fff;
      user-select: none;
      letter-spacing: 1.29px;
      text-align: end;
      margin: 8px 0 0;
      padding: 0 0 0 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .prepare_room_user_avatar_container {
    width: 50px;
    height: 50px;
    justify-content: space-between;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    border: 2px solid #0a5efb;
    box-shadow: 0 0 0 3px #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-left: 1rem;
    cursor: pointer;
    div {
      width: 50px;
      height: 73px;
      position: absolute;
      bottom: 0;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}
.prepare_room_info_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  max-width: 902px;
  width: 100%;
  margin-top: 0.5rem;
  margin-left: 50px;
  margin-right: 50px;
  height: 516px;
  border-radius: 10px;
  padding-top: 0.5rem;
  .welcome_prepare_room_container_play_image {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
    width: 100%;
    height: 62px;
    .welcome_info_play_image {
      display: flex;
      justify-content: center;
      background-image: url("https://gartic.io/static/images/new/title.png");
      max-width: 320px;
      background-size: cover;
      background-position: 50%;
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
      h2 {
        user-select: none;
        padding: 0 5px;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: "Nunito";
        text-align: center;
        line-height: 2;
        color: #ffbf00;
        letter-spacing: 0;
        margin: 12px 0 0;
        max-width: 230px;
        font-size: 20px;
        margin: 8px 0 0;
        text-shadow: 0 -1px 0 #fffa6d, #001b51 3px 0 0,
          #001b51 2.83487px 0.981584px 0, #001b51 2.35766px 1.85511px 0,
          #001b51 1.62091px 2.52441px 0, #001b51 0.705713px 2.91581px 0,
          #001b51 -0.287171px 2.98622px 0, #001b51 -1.24844px 2.72789px 0,
          #001b51 -2.07227px 2.16926px 0, #001b51 -2.66798px 1.37182px 0,
          #001b51 -2.96998px 0.42336px 0, #001b51 -2.94502px -0.571704px 0,
          #001b51 -2.59586px -1.50383px 0, #001b51 -1.96093px -2.27041px 0,
          #001b51 -1.11013px -2.78704px 0, #001b51 -0.137119px -2.99686px 0,
          #001b51 0.850987px -2.87677px 0, #001b51 1.74541px -2.43999px 0,
          #001b51 2.44769px -1.73459px 0, #001b51 2.88051px -0.838247px 0;
      }
    }
  }
}

.prepare_game_room_info_container {
  width: 851px;
  height: 341px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.prepare_game_user_data_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;

  height: 180px;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  h3 {
    margin-top: 50px;

    text-transform: uppercase;
    font-size: 16px;
    font-family: "Nunito";
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: #0257bc;
  }
  .prepare_game_user_container {
    margin-top: 25px;
    width: 280px;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    .prepare_game_user_avatar_container {
      width: 90px;
      height: 90px;
      border-width: 1px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      border: 3px solid #fff;
      box-shadow: 0 0 0 3px #043173;
      position: relative;
      .prepare_game_user_avatar {
        width: 90px;
        height: 113px;
        position: absolute;
        bottom: 0;
        background-position: bottom;
        background-repeat: no-repeat;

        background-size: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }
      .prepare_game_select_avatar {
        width: 38px;
        height: 38px;
        position: absolute;
        right: -17px;
        top: -10px;
        background-color: #0a5efb;
        border: 4px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: #1791ff;
        }
      }
    }
  }
}
.prepare_game_userName_input {
  width: 144px;
  height: 30px;
  border-radius: 7px;
  text-align: left;
  padding: 0 10px;
  font-size: 18px;
  border: 2px solid #868d96;
  font-family: "Nunito";
  font-size: 18px;
  color: #797979;
}
.prepare_game_room_data_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 240px;
  width: 390px;
  border-radius: 10px;
  margin-right: 2rem;
  box-shadow: 0 0 0 10px #9fbdc9;
  -webkit-box-orient: vertical;
  flex-direction: column;
  justify-content: flex-start;
  h3 {
    font-family: "Nunito";
    margin-top: 14px;
    padding: 0;
    text-transform: uppercase;
    font-size: 17px;
    color: #0257bc;
  }
  ul {
    margin: 0;
    width: 380px;
    padding: 0;
    margin-left: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      width: calc(50% - 45px);
      margin: 16px 5px;
      div {
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #fff;
        box-shadow: 0 0 0 1px #868d96;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
      }
      span {
        color: #868d96;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 15px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        overflow: hidden;
        margin: 0 0 0 5px;
        margin-top: 8px;
        p {
          font-size: 14px;
          margin: 0;
          padding: 0;
        }
        strong {
          font-family: "Nunito";
          font-weight: 400;
          margin-top: 5px;
          text-align: center;
          font-size: 15px;
        }
      }
    }
  }
}

.prepare_game_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  width: 186px;
  height: 40px;
  margin-top: 1rem;

  cursor: pointer;
  background-color: #ffbf00;
  border-top-color: #ffe100;
  border-bottom-color: #f88700;
  border-radius: 34px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0 0 5px #002043, 0 0 0 6px #7c92b0;
  &:hover {
    background-color: #f4c949;
  }
  &:active {
    background-color: orange;
  }
  strong {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: "Nunito";
    font-size: 18px;
    color: #001b4d;
    letter-spacing: 0;
    margin: 0 15px 0 0;
    text-transform: uppercase;
    word-break: break-word;
  }
  div {
    background-image: url("https://gartic.io/static/images/new/ic_Config.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    z-index: 10;
    background-position: 50%;
    margin: 0 10px 0 15px;
    background-size: contain;
  }
}
